<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NewApplication CNSS </title>
<!--
Newline Template
http://www.templatemo.com/tm-503-newline
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <link rel="stylesheet" type="text/css" href="/style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="overlay"></div>
        <section class="top-part">
          <video controls autoplay loop>
            <source src="videos/video.mp4" type="video/mp4">
            <source src="videos/video.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </section>
        
        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected"><a href="#0"><div class="image-icon"><img src="img/home-icon.png"></div><h6>Bienvenu</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="img/about-icon.png"></div><h6>Ajouter</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="img/featured-icon.png"></div><h6>Affichage</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="img/projects-icon.png"></div><h6>Paiement</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="img/contact-icon.png"></div><h6>Contact</h6></a></li>
              </ul>
            </nav> 
          </div> <!-- .cd-slider-nav -->

          <ul class="cd-hero-slider">
            <li class="selected">
              <div class="heading">
                <h1>RETRAITE/CNSS APPLICATION WEB</h1>
                <span>Welcome To Web Application for CNSS/Retraité</span>
              </div>

                      <div class="cd-half-width second-slide">   
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="content second-content">
                                <div class="row">
                                  <div class="col-md-7 left-image">
                                    <img src="img/cnss.jpg">
                                  </div>
                                </div>

                                <h4>Bienvenu(e) dans notre Application</h4>
                                  <p>L'employeur doit, à chaque paie, remettre au travailleur un bulletin de paie écrit de la rémunération payée, constitué par un des doubles du livre de paie prévus à l'article 214 du code du travail. Pour plus d'information veuillez cliqué ici <a href="https://www.cnss.com" target="_blank">cnss.com</a> c'est ainsi la caisse nationale de sécurité sociale coté service de retraite, demande à tout travailleur de faire enregistré son bulletin de paie à la fin de chaque fin du mois, pour lui facilité la tâche lors de l'ouverture du demande de la retraite .</p>
                                  <div class="primary-button">
                                    <a href="#">Remonter</a>
                                  </div>

                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>





                    </div>
                  </div>                  
                </div>
              </div>
            </li>
            <li>
              <div class="heading">
                <h1>Enregistement de bulletin de Paiement</h1>
                <span>Obtenir plus d'information apropos de l'entreprise </span> 
              </div>
              <div class="cd-half-width fourth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fourth-content">
                        <div class="row">





                          <form action="/News" method="POST">
                            <div class="row">
                              <div class="col-md-5 right-image">
                                 <div class="col-md-6">
                                   <fieldset>
                                      <input name="Matricule" type="text" class="form-control" id="name" placeholder="Matricule" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Nom" type="text" class="form-control" id="name" placeholder="Nom" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Postnom" type="text" class="form-control" id="name" placeholder="Postnom" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Prenom" type="text" class="form-control" id="name" placeholder="Prenom" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Sexe" type="text" class="form-control" id="name" placeholder="Sexe" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <button type="submit" id="form-submit" class="btn">Enregistrer</button>
                                    </fieldset>
                                  </div>

                                  <div class="col-md-6">
                                    <fieldset>
                                       <input name="Qualification" type="text" class="form-control" id="name" placeholder="Qualification" required>
                                     </fieldset></br>
                                     <fieldset>
                                       <input name="Code_Salaire" type="text" class="form-control" id="name" placeholder="Code Salaire" required>
                                     </fieldset></br>
                                     <fieldset>
                                       <input name="Salaire_Net" type="text" class="form-control" id="name" placeholder="Salaire net" required>
                                     </fieldset></br>
                                     <fieldset>
                                       <input name="Retraite_Complementaire" type="text" class="form-control" id="name" placeholder="Retraite Complementaire" required>
                                     </fieldset></br>
                                     <fieldset>
                                      <input name="Devise" type="text" class="form-control" id="name" placeholder="Devise" required>
                                    </fieldset></br>
                                     
                                   </div>
                                </div>
                             </div>
                          </form>
                          



                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Featured</h1>
                <span>We produce featured product every week</span> 
              </div>
              <div class="cd-half-width third-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content third-content">
                        <div class="row">
                          
                          <div class="col-md-5">
                            <div class="right-feature-text">
                              <h4>LISTE DE CLIENTS ENREGISTRER: <em>WEB APPLICATION CNSS/RETRAITE</em></h4>
                              
                              <% for (bulletin of bulletins){ %>

                              <p>
                                  <%= bulletin.Matricule%> ||
                                  <%= bulletin.Nom%> ||
                                  <%= bulletin.Postnom%> ||
                                  <%= bulletin.Prenom%> ||
                                  <%= bulletin.Sexe%> ||
                                  <%= bulletin.Qualification%> ||
                                  <%= bulletin.Code_Salaire%> ||
                                  <%= bulletin.Salaire_Net%> ||
                                  <%= bulletin.Retraite_Complementaire%> ||
                                  <%= bulletin.Devise%> ||
                                  <a>modifier</a>||
                                  <a>supprimer</a>                              
                              </p>
                                
                            <%}%></br>


                              
                              <div class="primary-button">
                                <a href="#">monter</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Calcul du Salaire de Retraite</h1>
                <span>La Retraite de base à taux plein se calcul simplement: elle est de 50% du salaire annuel moyen (SAM)</span> 
              </div>
              <div class="cd-half-width fourth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fourth-content">
                        <div class="row">
                          

                          <form action="">


                            <div class="row">
                              <div class="col-md-5 right-image">
                                 <div class="col-md-6">
                                   <fieldset>
                                      <input name="Salaire_annuel" type="text" class="form-control" id="name" placeholder="Salaire annuel" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Coefficient_de_revenu" type="text" class="form-control" id="name" placeholder="Coefficient de revenu" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Nombre_annne" type="text" class="form-control" id="name" placeholder="Nombre d'années" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <input name="Salaire_net" type="text" class="form-control" id="name" placeholder="Salaire net" required>
                                    </fieldset></br>
                                    <fieldset>
                                      <button type="submit" id="form-submit" class="btn">Calcul</button>
                                    </fieldset>
                                  </div>
                                </div>
                             </div>



                          </form>
                          



                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Contact us</h1>
                <span>You'll be responded within 48 hrs</span> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <p>Maecenas imperdiet sagittis lacus, ut consequat velit iaculis id. Praesent eu consequat urna. Morbi justo dolor, ornare sed lorem et, auctor iaculis ligula.
                              <br><br>
                              <em>3344 Donec mollis libero<br>at metus luctus 10110</em>
                              </p>
                              <ul class="social-icons">
                                <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                                <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                                <i><a href="#"><i class="fa fa-rss"></i></a></i>
                                <i><a href="#"><i class="fa fa-behance"></i></a></i>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="contact" action="" method="post">
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                                  </fieldset>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>
          </ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->


        <footer>
          <p>Copyright &copy; 2020 By CNSS 
                                
        	| Designed by <em>Masambukidi</em></p>
        </footer>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>